
<style>
    table.dataTable tbody tr {
        line-height: 15px;
    }

    .tblControlli {
        border: none;
    }

    .tblControlli {
        border-collapse: collapse;
    }

        .tblControlli.first {
            border-bottom: 1px solid #EEE;
        }

        .tblControlli.second {
            border-top: 1px solid #CCC;
            box-shadow: inset 0 1px 0 #CCC;
        }

    td {
        text-align: center; /* center checkbox horizontally */
        vertical-align: middle;
    }

    .tdDet {
        text-align: center; /* center checkbox horizontally */
        vertical-align: middle;
        color: #4c5379;
    }

    .form-check-input {
        position: unset;
    }

    .wrapper {
        height: 100%;
        height: -moz-available; /* WebKit-based browsers will ignore this. */
        height: fill-available;
    }

    td.details-control {
        background: url('../../lib/DataTables/datatables/images/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../../lib/DataTables/datatables/images/details_close.png') no-repeat center center;
    }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #tblControlli_processing {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        margin-left: 0px;
        margin-top: 150px;
    }
</style>

<div style="width: 100%; margin: 0 auto;">
    <form id="f0">
        <div class="row">
            <div class="input-group col-md-4">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" id="btCercaScadenze">In Scadenza</button>
                </div>
                <input type="text" class="form-control" id="scadenza" placeholder="scadenza" aria-label="" aria-describedby="basic-addon1">

            </div>
            

            <div class="input-group col-md-5" style="border:1px solid #e0e0e0" id="filtroGruppiMerce">
                <div class="form-check form-check-inline">Gruppi merce A52:</div>

                <div class="form-check form-check-inline" style="margin-left:5px">
                    <input class="form-check-input" type="checkbox" id="check400" value="400">
                    <label class="form-check-label" for="check400">400</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="check500" value="500">
                    <label class="form-check-label" for="check500">500</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="check600" value="600">
                    <label class="form-check-label" for="check600">600</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="check700" value="700">
                    <label class="form-check-label" for="check700">700</label>
                </div>
                @if (User.Identity.IsAuthenticated && User.IsInRole("ATZ_ADMIN"))
                {
                    <input type="button" id="btFiltraGM" class="btn btn-outline-secondary" value="Cerca" />
                }
                else
                {
                    <input type="button" id="btFiltraGM" class="btn btn-outline-secondary" value="Cerca" disabled="disabled" />
                }
            </div>

            <div class="input-group col-md-3">
                <input type="text" class="form-control" id="info" disabled />
            </div>
        </div>

    </form>
    <br />

    @*<table id="tblControlli" class="row-border hover responsive nowrap" style="width:100%;">*@
    <table id="tblControlli" class="table-responsive table-bordered hover">
        <thead>
            <tr>
                <th></th>
                <th>Codice</th>
                <th>Pn</th>
                <th>Descrizione</th>
                <th>Ultimo Controllo</th>
                <th>Scadenza</th>
                <th>Periodicità</th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </thead>

    </table>
</div>


<div class="modal fade" id="ControlliFormModel" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="title" class="modal-title"></h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="ControlliFormModelDiv">
            </div>
        </div>
    </div>
</div>

<br />
@if (TempData["successAlert"] != null)
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p>@TempData["successAlert"]</p>
    </div>
}



@section scripts {

    <script src="~/js/controlli/atzcontrolli_CRUD.js"></script>
    <script src="~/js/controlli/atzcontrolli_Datatable.js"></script>
    <script>
        var dataScadenza;
        $(document).ready(function () {


            dataScadenza = flatpickr("#scadenza", {
                enableTime: false,
                dateFormat: "d/m/Y",
                "locale": "it"
            });
        });
    </script>
}